<footer class="footer has-background-dark">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h5 class="subtitle has-text-white">Rental Locations</h5>
        <ul>
          <li><a href="./pontoon-boat-rental-silver-lake-michigan.html">Silver Lake Michigan</a></li>
          <li><a href="./pontoon-boat-rental-long-lake-michigan.html">Long Lake Michigan</a></li>
          <li><a href="./pontoon-boat-rental-crystal-lake-michigan.html">Crystal Lake Michigan</a></li>
          <li><a href="./pontoon-boat-rental-duck-lake-michigan.html">Duck Lake Michigan</a></li>
          <li><a href="./pontoon-boat-rental-green-lake-michigan.html">Green Lake Michigan</a></li>
           <li><a href="./pontoon-boat-rental-lake-leelanau-michigan.html">Lake Leelanau, MI</a></li>
           <li><a href="./pontoon-boat-rental-glenn-lake-michigan.html">Glenn Lake, MI</a></li>
         
        </ul>
      </div>
      <div class="column is-3">
        <h5 class="subtitle has-text-white">About Us</h5>
        <ul>
          <li><a href="./about-us.html">Meet The Owner</a></li>
         
        </ul>
      </div>
      <div class="column is-3">
        <h5 class="subtitle has-text-white">Pontoon Info</h5>
        <ul>
          <li><a href="./pontoon-info.html">Pontoon Specs</a></li>
                  <li><a href="./schedule-rental.html">Schedule Rental</a></li>
        </ul>
      </div>
      <div class="column is-3">
        <h5 class="subtitle has-text-white">Social</h5>
 <a href="https://www.facebook.com/traversecitypontoonboatrental/" target="blank"><i class="fab fa-2x fa-facebook"></i></a>
        &nbsp;
        <a href="#"><i class="fab fa-2x fa-twitter"></i></a>
        &nbsp;
 <a href="#"><i class="fab fa-2x fa-instagram"></i></a>
        &nbsp;
        <a href="https://www.youtube.com/watch?v=W8NZOV7nSjE&t=24s"><i class="fab fa-2x fa-youtube"></i></a>
      </div>
    </div>

    <div class="content has-text-centered has-text-white pt-1">
      <small><p>&copy; <?php echo date("Y"); ?> BoatRental.us | Web Site Created And Hosted By <a href="https://schrader.co" target="blank"><u>Schrader Web Solutions</u></a></p></small>
    </div>
  </div>
</footer>
