<nav class="navbar is-fixed-top" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="./">
      <img class="logo" src="assets/img/logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navvi">
      <span class="has-text-white" aria-hidden="true"></span>
      <span class="has-text-white" aria-hidden="true"></span>
      <span class="has-text-white" aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
   

    <div class="navbar-end">
      <a href="index.php" class="navbar-item has-text-black">Home</a>
      <div class="navbar-item has-dropdown">
        <a class="navbar-link has-text-black">Rental Locations</a>
        <div class="navbar-dropdown">
           <a href="pontoon-boat-rental-silver-lake-michigan.php" <a class="navbar-item has-text-black">Silver Lake, MI</a>
           <a href="pontoon-boat-rental-long-lake-michigan.php" <a class="navbar-item has-text-black">Long Lake, MI</a>
           <a href="pontoon-boat-rental-crystal-lake-michigan.php" <a class="navbar-item has-text-black">Crystal Lake, MI</a>
           <a href="pontoon-boat-rental-duck-lake-michigan.php" <a class="navbar-item has-text-black">Duck Lake, MI</a>
           <a href="pontoon-boat-rental-green-lake-michigan.php" <a class="navbar-item has-text-black">Green Lake, MI</a>
           <a href="pontoon-boat-rental-lake-leelanau-michigan.php" <a class="navbar-item has-text-black">Lake Leelanau, MI</a>
           <a href="pontoon-boat-rental-glenn-lake-michigan.php" <a class="navbar-item has-text-black">Glenn Lake, MI</a>
        </div>
      </div>
      <a href="about-us.php" class="navbar-item has-text-black">About Us</a>
      <a href="pontoon-info.php" class="navbar-item has-text-black">Pontoon Info</a>
      <a href="schedule-rental.php" class="navbar-item has-text-black">Schedule Rental</a>
    </div>
  </div>
</nav>
